<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <h1><%= title %></h1>
    <p><strong>User:</strong> <%= message.username %></p>
    <p><strong>Message:</strong> <%= message.message %></p>
    <p><strong>Added:</strong> <%= message.created_at.toLocaleString() %></p>
    <a href="/">Back to Board</a>
</div>

<%- include('../partials/footer') %>